html 
{
    height: 100%;
}body

{
padding: 10px;
font-size:16px;
font-family:"Lato", sans-serif;
background: linear-gradient(to bottom, #70D7FF 0%, #FFD7FF 100%);
background-size: 100%;
}

nav 
{	 text-align:center;
	 font-family: 'Lato', sans-serif;
	 background-color:#CCCCCC; 
	 color:#666666;
	 line-height: 4em;
	 font-size: 20px;
} 
p
{
	text-align:center;
	font-size:17px;
	line-height:130%;
}

div 
{ text-align: center; font-size:17px;}

ul
{ display: inline-block; text-align: left;  }

header
{
	text-align:center;
	font-size: 25px;
	
}
h2
{	text-align:center;
	font-size: 25px;
	text-decoration: underline;}
h3,h4
{
	text-align:center;
	font-size: 17px;
}
span 
{
	text-align: center;
	right: 80%;
	font-size: 17;
}
footer,form
{
	text-align:center;
}
